body {
  font-family: Arial;
  font-size: 14px;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  padding: 10px 0;
  text-align: center;
}

.title {
  font-size: 20px;
  padding-bottom: 20px;
}

.table {
  max-width: 1200px;
  width: 100%;
  height: 400px;
}

.table {
  margin: 50px;
}

.table > div {
  height: 100%;
}

.rt-resizable-header {
  outline: none;
}